.headerDiv
{
	margin-left:-8px;
}

#mod_login_logoutform-login
{
	height:170px;
}

div.module-login
{
	padding-bottom:0px;
}

.registerButton
{
	text-align:center;
}

.registerButton2
{
	padding-left:5px !important;
	padding-right:5px !important;
	float:left;
	padding-top:0px !important;
}

.topMenu2
{
	margin-top: 20px;
}

.contentpaneopen, .contentheading { width:100%; }
