
@import url(button.css);

.icon-32-download     { background-image:url(../images/toolbar/icon-32-download.png); }
.icon-32-refresh      { background-image:url(../images/toolbar/icon-32-refresh.png); }
.icon-32-fixunchecked { background-image:url(../images/toolbar/icon-32-fixunchecked.png); }
.icon-32-checkdb      { background-image:url(../images/toolbar/icon-32-checkdb.png); }


div.checkdb div.warning { text-align: center; font-size: 16px; color: #F00; font-weight: bold; }

table.filteringbar td.selections { white-space: nowrap; }

table.filteringbar td.selections select#filter_availablepackages     { width: 150px; }
table.filteringbar td.selections div#filter_availablepackages_fr div { float: left; }

table.filteringbar td.selections select#filter_downloadedpackages    { width: 150px; }
table.filteringbar td.selections div#filter_downloadedpackages_fr    { float: left; }
table.filteringbar td.selections td.downloading                      { background-color: #F00; }
table.filteringbar td.selections td.downloaded                       { background-color: #0F0; }

table.filteringbar td.selections select#filter_schema                { width: 150px; }

div.checkdb table.adminlist th                                                { white-space: nowrap; }
div.checkdb table.adminlist thead th span.coltitle                            { color:#025A8D; }
div.checkdb table.adminlist tbody tr.rowselected td                           { background-color: #ffcc99; }
div.checkdb table.adminlist tbody tr.rowselected:hover td                     { background-color: #fcc566; }

div.checkdb table.adminlist tbody tr.action_processing td                     { background-color: #fddd80; }
div.checkdb table.adminlist tbody tr                   td.toggle div.loading  { display: none; background: transparent url(images/loading.gif) no-repeat; background-position: center; }
div.checkdb table.adminlist tbody tr                   td.toggle input        { display: block; }
div.checkdb table.adminlist tbody tr.action_processing td.toggle div.loading  { display: block; height: 22px; width: 22px; }
div.checkdb table.adminlist tbody tr.action_processing td.toggle input        { display: none; }

div.checkdb table.adminlist tbody tr.action_error      td div.err,
div.checkdb table.adminlist tbody tr.action_error      td div.errmsg          { color: #f00; font-size: 14px; }

div.checkdb table.adminlist tbody .download_button                            { white-space: nowrap; }

div.checkdb table.adminlist table.datamodel td.code_version select            { width: 90px; }
div.checkdb table.adminlist table.datamodel td.version_id select              { width: 90px; }

div.checkdb table.adminlist div.colsize_auto                                  { float: left; cursor:pointer; }
div.checkdb table.adminlist div.colsize_minimize                              { float: right; cursor:pointer; }

div.checkdb table.adminlist .col_minimize          { width: 10px; }
div.checkdb table.adminlist td.col_minimize div    { display: none; }


div.checkdb table.adminlist td.domains ul    { margin: 0px; padding: 0px; }
div.checkdb table.adminlist td.domains ul li { list-style: none; }


table.datamodel                                       { background-color: #F0F0F0; }
table.datamodel textarea                              { width: auto; }
table.datamodel td.schemainfo .jpath_extension,
table.datamodel td.schemainfo div.selectedFolder span.value,
table.datamodel td.schemainfo div.legacyMode     span.value { color: #168e0a; }

table.datamodel td.schemainfo span.processing         { background-color: #fe9c02; }
table.datamodel ul.summary li.open					      { list-style-image: url(images/minus.gif); cursor:pointer; font-size: 11px; line-height: 11px; font-weight: normal; float: none; color: #000; }
table.datamodel ul.summary li.open  ul.changeitem 	   { display: block; }
table.datamodel ul.summary li.open  ul.changeitem li  { list-style-image: none; }
table.datamodel ul.summary li.close 				      { list-style-image: url(images/plus.gif); cursor:pointer; font-size: 11px; line-height: 11px; font-weight: normal; float: none; color: #000; text-shadow: none; opacity: 1; }
table.datamodel ul.summary li.close ul.changeitem 	   { display: none; }
table.datamodel ul.summary li.close ul.changeitem li  { list-style-image: none; }

table.datamodel ul.summary li.open  ul.changeitem li ul.sqlerrormsg li  { list-style-image: url(images/arrow-red.gif); color: #b42c2c; font-style: italic; }
table.datamodel ul.summary li.open  ul.changeitem li span.file          { color: #6600fe; font-style: italic; }
table.datamodel ul.summary li.open  ul.changeitem li span.reason        { color: #d56c03; font-style: italic; }
table.datamodel ul.summary li.open  ul.changeitem li ul.sqlerrormsg li span.file { color: #e90ebf; }


