div.getlatest div.left     { background:transparent url(../images/patches/getlatest/err_left.png) no-repeat left top;   height: 128px; padding-left: 266px; }
div.getlatest div.right    { background:transparent url(../images/patches/getlatest/err_right.png) no-repeat right top; height: 128px; padding-right: 41px; }
div.getlatest div.middle   { background:transparent url(../images/patches/getlatest/err_middle.png) repeat-x left top;  height: 128px; padding-top: 25px; color: #FFF; font-size: 14px; }
div.getlatest div.padding  { margin-left: -25px; margin-right: -25px; text-align: center; } 
div.getlatest div.jmsname  { font-size: 21px; }
div.getlatest div.version span.label,
div.getlatest div.version span.cur_version { color: #f94747; font-weight: bold; }
div.getlatest div.download { margin-top: 10px; text-align: center; }
div.getlatest div.download a  { font-size: 26px; color: #ccec4c; }


div.version_ok div.left     { background:transparent url(../images/patches/version/ok_left.png) no-repeat left top;   height: 66px; padding-left: 171px; }
div.version_ok div.right    { background:transparent url(../images/patches/version/ok_right.png) no-repeat right top; height: 66px; padding-right: 17px; }
div.version_ok div.middle   { background:transparent url(../images/patches/version/ok_middle.png) repeat-x left top;  height: 66px; padding-top: 9px; color: #FFF; font-size: 14px; }
div.version_ok div.padding  { text-align: center; padding: 0px !important; margin: 0px; margin-right: -5px; } 
div.version_ok div.jmsname  { padding-top: 10px; font-size: 21px; }
div.version_ok div.version span.label,
div.version_ok div.version span.cur_version { color: #a5d70c; font-weight: bold; }

div.ext_version            { padding-left: 10px; padding-right: 10px; }
div.ext_version div.bg     { background:transparent url(../images/patches/ext_bg.png) repeat-x left top;  min-height: 43px; font-size: 11px; padding-left:15px; padding-right:15px; padding-top:1px;}
div.ext_version div.bg ul  { margin: 0px; padding: 0px; padding-left: 18px; padding-top: 5px; }
div.ext_version div.bg div.ok    li.patchesversion span.version   { color: #269f0e; font-weight: bold; }
div.ext_version div.bg div.error li.patchesversion span.version   { color: #f90707; font-weight: bold; }

