body{background: #F2F2F2; font-weight:200;line-height:120%;font-family: Georgia, "Times New Roman", Times, serif;}
b,strong{font-weight:400;}
h1,h2,h3,h4,h5{font-weight:400;}

a{color:#E88E00;}
a:hover{color:#dc6600;}

.clear{clear:both;}
.auto{margin:auto;}
.overflow-hidden{overflow: hidden;}

@font-face{font-family: "Colossalis";src: url(Colossalis-Medium.ttf) format("truetype");}
@font-face{font-family: "handsean";src: url(handsean.ttf) format("truetype");}

.btn-orange{background:#E88E00;color:#FFF;}
@media (min-width: 1200px) {
	#fpssContainer130.fpss-template-jj-obs .slide{height:430px !important;}
	#fpssContainer130.fpss-template-jj-obs .slides-wrapper{height:430px !important;}
}
@media (max-width: 1024px) {
	#fpssContainer130.fpss-template-jj-obs .slide{height:355px !important;}
	#fpssContainer130.fpss-template-jj-obs .slides-wrapper{height:355px !important;}
	.slidetext{top:282px !important;}
}

@media (max-width: 992px) {
	#fpssContainer130.fpss-template-jj-obs .slide{height:272px !important;}
	#fpssContainer130.fpss-template-jj-obs .slides-wrapper{height:272px !important;}
	.slidetext{top:200px !important;}
}
@media (max-width: 768px) {
	#fpssContainer130.fpss-template-jj-obs .slide{height:272px !important;}
	#fpssContainer130.fpss-template-jj-obs .slides-wrapper{height:272px !important;}
	.slidetext{top:200px !important;}
}

@media (max-width: 320px) {
	#fpssContainer130.fpss-template-jj-obs .slide{height:109px !important;}
	#fpssContainer130.fpss-template-jj-obs .slides-wrapper{height:109px !important;}
	.slidetext{top:50px !important;}
}

/*Custom*/
#main{background:#FFF;}
#header{}
#header-right{padding-top:12px;}

#top-menu{}
#top-menu ul.menu{}
#top-menu ul.menu li{}
#top-menu ul.menu li:hover{}
#top-menu ul.menu li a{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;padding:10px 5px;}
#top-menu ul.menu li a:hover{background:none;}

#foot-menu ul.menu li a{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;padding:10px 5px;}
#foot-menu ul.menu li a:hover{background:none;}
#foot-menu ul.menu li.current a{background:none;color:#dc6600;}

#mainmenu ul.nav li a.orange:hover{border-top:4px solid #dc6900;color:#dc6900;}

#footcopy{font-size: 11px; padding:12px 0;}
/*Custom end*/

/*Joomla overwrite*/
#fpssContainer130.fpss-template-jj-obs{border:none !important;margin-top:0 !important;padding:0 !important;}
#fpssContainer130.fpss-template-jj-obs{max-width:100%;width:100% !important;}
#fpssContainer130.fpss-template-jj-obs .slides-wrapper{max-width:100%;width:100% !important;}
#fpssContainer130.fpss-template-jj-obs .slide{max-width:100%;width:100% !important;}
.slidetext{width:100% !important;}
/*Joomla overwrite end*/

/*Bootstrap ovewrite*/
.btn{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.form-control{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.navbar{margin-bottom:12px;min-height:0;}
.navbar-default{background:none;border:none; border-radius:0;-moz-border-radius:0;-webkit-border-radius:0; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

#mainmenu .navbar-default .navbar-nav>.active>a{background:none;box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
#mainmenu .navbar-default .navbar-nav>.active>a:hover{background:none;}
#mainmenu ul.nav{}
#mainmenu ul.nav li{}
#mainmenu ul.nav li:hover{background:none;}
#mainmenu ul.nav li a{border-top:4px #929497 solid;margin-right:10px;padding-bottom:5px;padding-top:5px;}
#mainmenu ul.nav li a:hover{border-top:4px #333333 solid;}
#mainmenu ul.nav li.active a{background:none;box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
#mainmenu ul.nav li.active
/*Bootstrap ovewrite end*/