/* Valanx.org AEC Membership Management - invoice_print.css */

div#printbutton {
	display: none !important;
	height: 0px;
	border: none;
	background: none;
}

body {
	background: #fff;
}

div#invoice_wrap {
	width: 700px;
	background:#fff;
	padding:20px;
	border: none;
}
